@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    background-color: #3a1d5a;
    margin: 0;
    padding: 0;
}
.center {
    width: 800;
    height: auto;
    margin: auto;
    text-align: center;
}

.center h1 {
    font-size: 80px;
    color: azure;
}