@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    background-color: #3a1d5a;
    margin: 0;
    padding: 0;
}
.center {
    width: 800;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.center h1 {
    font-size: 80px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.center h3 {
    font-size: 40px;
    margin-top: 10px;
    color: rgb(148, 148, 148);
    text-align: center;
}
.center #cockatiel {
    margin-top: 30px;
    margin-right: 40px;
    text-align: center;
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
}
.center #cockatiel:hover {
    cursor: pointer;
}
.center #cockatiel:active {
    -webkit-transform: scale(1.1);
}
.center p {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(190, 153, 31);
}
.center #seed_counter {
    color: red;
}
.center h4 {
    margin-top: 60px;
    text-align: center;
    color: rgb(221, 224, 18);
}
.center #reset {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 15px 32px;
}
.center #reset:active {
    background-color: #d9e4a9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}